html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    
    
    background-image: url(../images/sky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    color: antiquewhite;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  position: relative;
}

/* --- LOGO + HOVER MENU --- */
.logo-area {
  position: relative;
  
}

.logo {
    width: 60px;
    height: auto;
    display: block;
    transition: transform 0.6s;
}

.logo:hover {
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.hover-menu {
  background: transparent; /* or any color you want */
  padding: 0; 
  margin: 0;
  min-width: max-content; /* shrink to content width */
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 1100;
}


.logo-area:hover .hover-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 10;
}

.menu > li > a {
  text-decoration: none;
  color: antiquewhite;
  font-family: "Dm Sans";
  font-size: medium;
}

.menu a:hover {
  color: #d7d7d7;
}

.glass-wrapper {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical alignment at top */
   
}

.glass-card {
    

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    text-align: center;

    /* push below topbar */
    margin-top: 100px;
    
    width: 90%;          /* fills 90% of container width */
    max-width: 400px;    /* never bigger than 400px */
    min-width: 300px;    /* never smaller than 300px */
    padding: 30px 50px;
    border-radius: 30px;
}

 p{
    font-family: "Dm Sans";
    color: rgb(84, 84, 84);
 }

h1{
    font-family: "Oooh Baby";
    color: rgb(84, 84, 84);
}

.cloud{
    overflow: hidden;
    z-index: 0;
}
.cloud img{
    animation: cld 20s linear infinite;
    animation-duration: calc(30s + (var(--i) * 2s));
    opacity: 0.6;
    
    
    position: absolute;
    
}

@keyframes cld {
  0% { transform: translateX(-120vw); }
  100% { transform: translateX(120vw); }
}

.bluecloud{
    width: 700px; ;
    top: 400px;
}

.cloud1{
    width: 500px;
    top: 500px;
}

@font-face {
    font-family:"DM Sans" ;
    src: url("fonts/DMSans-LightItalic.ttf") ;
}

@font-face {
    font-family: "Oooh Baby";
    src: url("fonts/OoohBaby-Regular.ttf");
}
