
.page-header {
    width: 100%;
    height: 200px;          /* adjust height */
    top: 0px;
    position:absolute;

}

.page-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* keeps aspect ratio, fills header */
    display: block;
}

h1{
    font-family: "Oooh Baby";
    transform: translateY(-460px);
    font-size: 70px;
    color: antiquewhite;
}

h2{
    transform: translateY(-350px);
    font-family: "Dm Sans";
    
    
}
 p{
    transform: translateY(-320px);
    line-height: 1.3;
    font-family: "Dm Sans";
 }



.form-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 450px;
    height: 520px; /* increase this number for a taller postcard */
    padding: 30px;

    background-image: url('../images/postcard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    border-radius: 10px;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  position: relative;
}


.logo {
    width: 60px;
    height: auto;
    display: block;
    transition: transform 0.6s;
}

.logo:hover {
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@font-face {
    font-family:"DM Sans" ;
    src: url("./fonts/DMSans-LightItalic.ttf") ;
}

@font-face {
    font-family: "Oooh Baby";
    src: url("./fonts/OoohBaby-Regular.ttf");
}


.hover-menu {
  background: transparent;
  padding: 0; 
  margin: 0;
  min-width: max-content;
  position: absolute;
  top: 40px;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.3s ease;  /* smooth fade */
}

.logo-area:hover .hover-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 10;
}

.menu > li > a {
  text-decoration: none;
  color: rgb(183, 167, 146);
  font-size: 16px;
  font-family: "Dm Sans";
  font-size: small;
}

.menu a:hover {
  color: #d7d7d7;
}

.logo-area {
    position: fixed;   /* stays at the top */
    top: 20px;
    left: 20px;       /* or left: 20px; depending on where you want it */
    z-index: 1000;     /* keeps it above everything */
}





