
html,body {
    height: 100%;
}

body {
    background-image: url(../images/Astoria.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    color: antiquewhite;
}

@font-face {
    font-family:"DM Sans" ;
    src: url("../fonts/DMSans-LightItalic.ttf") ;
}

@font-face {
    font-family: "Oooh Baby";
    src: url("../fonts/OoohBaby-Regular.ttf");
}

h1{
    position:static;
    text-align: center;
    transform: translateY(160px);
    font-family: "Oooh Baby";
    font-size: 50px;
}

h3 {
    position: static;
    text-align: center;
    transform: translateY(160px);
    font-family:"DM Sans";
    font-size: 16px;
}



.logo-area {
  position: relative;
  display: inline-block;
}

.logo {
    position: absolute;
    top: 0;  /* top-left corner */
    left: 0;
    z-index: 999;

    width: 60px;       /* sets size */
    height: auto;      /* keeps aspect ratio */
    display: block;
    transition: transform 0.6s;
}

/* Spin on hover */
.logo:hover {
    animation: rotate360 1s linear infinite;
}

/* Spin animation */
@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.logo-area {
  position: relative;
  display: inline-block;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  position: relative;
}

.hover-menu {
  position: absolute;
  top: 30px;
  left: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 999;
}

/* Reveal menu on hover */
.logo-area:hover .hover-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}


/* --- MAIN MENU ROW --- */
.menu {
  list-style: none;
  display: flex;
  background: transparent;
  border: none;
  box-shadow: none;
  gap: 30px; 
}

.menu > li > a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 20px;
  padding: 0px 0;
  font-family: "Dm Sans";
  font-size: small;
}

.menu a:hover{
    color: #d7d7d7;
}


