
body {
    background-image: url(../images/Astoria.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    max-width: fit-content;
    max-height: fit-content;
    color: antiquewhite;
}

@font-face {
    font-family:"DM Sans" ;
    src: url("../fonts/DMSans-LightItalic.ttf") ;
}

h1{
    position:static;
    text-align: center;
    transform: translateY(200px);
}

h3 {
    position: relative;
    text-align: center;
    transform: translateY(200px);
    font-family:"DM Sans"
}

